.patient-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.patient-card {
    background-color: white;
    border-radius: 0.25rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border: solid 1px #0dc5c7;
    text-decoration: none !important;
    color: black;
    text-align: center;
    margin: 1%;
}

.patient-card:hover {
    background-color: #009cb4;
    border: solid 1px #009cb4;
    text-decoration: none!important;
    color: white!important;
}

.add-new-patient {
    width: 5rem;
    height: 3rem;
    margin: 1rem;
    font-size: 2.5rem;
    background-color: darkorange;
    border: 1px solid darkorange;
    border-radius: 0.25rem;
    color: white;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.add-new-patient:hover {
    background-color: white;
    border: 1px solid darkorange;
    border-radius: 0.25rem;
    color: darkorange;
}

.patient-detail-main {
    margin: 1rem;
}

.flex-row-center-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-row-left-center {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.patient-name {
    font-size: 2rem;
}

.pen {
    font-size: 1.5rem;
    margin-left: 1rem;
    color: #008499;
}

.pen:hover {
    color: #009cb4;
    cursor: pointer;
}

.add-new-note {
    background-color: #008499;
    border: 1px solid #008499;
    border-radius: 0.25rem;
    color: white;
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    margin: 1rem;
    text-decoration: none;
}

.add-new-note:hover {
    background-color: white;
    border: 1px solid #008499;
}

.patient-attribute {
    font-size: 1.5rem;
}

.note-header {
    background-color: #009cb4;
}

.note-header-text {
    color: white;
}

.note-data:hover {
    background-color: #00b4cf;
    color: white;
    cursor: pointer;
}

.risk-level {
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.inDanger {
    background-color: #ff8c00;
    color: white;
}

.earlyOnSet {
    background-color: #ff0000;
    color: white;
}

.borderline {
    background-color: #ffcc00;
    color: white;
}