@model Mediscreen.UI.Models.NotesViewModel

@{
    ViewData["Title"] = "Edit Note";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit @Model.NoteId</h1>

<div class="detail-page">
    <div class="detail">
        <form asp-action="NoteDetailsEditPut" asp-controller="Notes" method="post">
            <input name="_RequestVerificationToken" type="hidden" />
            <input type="hidden" name="NoteId" value="@Model.NoteId" />
            <textarea type="text" name="Comment">@Model.Comment</textarea> />

            <button type="submit">Submit</button>
        </form>
    </div>
</div>