@model Mediscreen.UI.Models.GetNotesViewModel

@{
    ViewData["Title"] = "Note";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="details-main">
    <div class="flex-row-left-center">
        <h2>Note detail</h2>
        <a class="pen" href="/Notes/NoteDetailsEdit/@Model.NoteId">
            <i class="fa-solid fa-pen"></i>
        </a>
    </div>
    <hr />

    <div class="detail-page">
        <div class="flex-row-center-center">
            <div style="width: 50%;">
                <p><span>@Html.DisplayNameFor(model => model.Comment) : </span>@Model.Comment</p>
            </div>
            <div style="width: 50%;">
                <p>Triggers</p>
                <ul>
                    @foreach (var trigger in Model.Triggers)
                    {
                        <li>@trigger.TriggerName</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</main>
