@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <p>Your note have been created.</p>
    <p>
        <a href="~/Patient/Index">Back to the list</a>
    </p>
</div>
