@model IEnumerable<Mediscreen.UI.Models.PatientViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center" style="margin: 1% 2%;">
    <h1 class="display-3">Patients</h1>

    <div>
        <a href="~/Patient/CreatePatient" class="add-new-patient">
            +
        </a>
    </div>
    <section class="card-deck patient-list">
        @foreach (var patient in Model)
        {
            <a 
                href="@Url.Action("PatientDetails", "Patient", new { id = patient.Id })"
                class="patient-card w-25"
            >
                <div>
                    <h5 class="card-title">@patient.FirstName @patient.LastName</h5>  
                </div>
            </a>
        }
    </section>
</div>
